<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="seleccionado">Materia: {{seleccionado.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let actorItem of actores">
    <ion-card-header>
      <ion-card-title> <h2>{{actorItem.nombre_estudiante}}</h2></ion-card-title>
      <ion-card-subtitle>
        <h4>Nota definitiva: {{actorItem.definitiva}}</h4></ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      <p>Faltas: {{actorItem.faltas}}</p>
      <p>
        Nota 1: {{actorItem.nota_uno}} || Nota 2: {{actorItem.nota_dos}} || Nota
        3: {{actorItem.nota_tres}}
      </p>
      <!-- <ion-button (click)="../editar-estudiante/{{actorItem.id}}>
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
        Editar</ion-button
      > -->
      <ion-button routerLink="../editar-estudiante/{{actorItem.id}}">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>
      <ion-button
        color="danger"
        (click)="borrarPelicula(actorItem);$event.stopPropagation();"
      >
        <ion-icon slot="icon-only" name="trash"></ion-icon>
        Borrar</ion-button
      >
    </ion-card-content>

    <ion-item-options side="end">
      <ion-item-option>
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
      
    </ion-item-options>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="../nuevo-estudiante" routerDirector="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
      </ion-fab
  >
</ion-content>
